﻿
@using Microsoft.AspNetCore.Identity
@using InstaNet.DataAccess.Identity
@using InstaNet.DataAccess.Data

@inject RepositoryContext repositoryContext;
@inject UserManager<ApplicationUser> UserManager

@{ ApplicationUser CurrentProfil = null;

                if (User.Identity.IsAuthenticated)
                {
                    CurrentProfil = await UserManager.FindByNameAsync(User.Identity.Name);
                }

                var Suggestions = this.repositoryContext.Profiles.OrderBy(x => Guid.NewGuid()).Take(5).ToList(); }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/css/Main.css" />

    <title>Photogram</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a asp-page="/Index"><img src="~/images/Logo.png" alt="LOGO" height="30" width="42" /></a>
            </div>

            <div class="branding">
                <a asp-page="/Index"><h1>Photogram</h1></a>
            </div>

            @if (User.Identity.IsAuthenticated)
            {


<div class="profil">

</div>            }
        </div>
    </header>

    <div class="main-container row-container">

        @if (User.Identity.IsAuthenticated)
        {
<div class="side-bar">
    <div class="side-container column-container">
        <div class="row-container">
            <a asp-page="/Account/Profile" asp-route-id="@CurrentProfil.Profile.Id"><img src="data:image;base64, @System.Convert.ToBase64String(CurrentProfil.Profile.Image)" height="45" width="45" style="border-radius: 50px; margin: 3px; margin-left: 10px" /></a>
            <a asp-page="/Account/Profile" asp-route-id="@CurrentProfil.Profile.Id" style="margin-top: 18px; margin-left: 12px; font-weight: bold;">@CurrentProfil.Profile.UserName</a>
        </div>


    </div>
</div>}

        <div class="column-container" style="width: 100%;">
            @RenderBody()
        </div>

        @if (User.Identity.IsAuthenticated)
        {


<div class="side-container">

    <h1 class="bubble">add friends</h1>

    <div class="column-container" style="margin-top: 15px">
        @foreach (var user in Suggestions)
        {
<a asp-page="/Account/Profile" asp-route-id="@user.Id" class="click-link">@user.UserName</a>}
    </div>
</div>}

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/js/JavaScript.js"></script>
</body>
</html>